
# TypeOrm
TYPEORM_TYPE=mysql
TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=3306
TYPEORM_USERNAME=nest_ai_boot
TYPEORM_PASSWORD=
TYPEORM_DATABASE=nest_ai_boot
#TYPEORM_SYNCHRONIZE=false

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
# 请使用随机字符
JWT_SECRET=
JWT_EXPIRE=86400 # 单位秒
# 请使用随机字符
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRE=2592000 # 单位秒